.navbar li {
    display: inline-block;
    text-align: center;
  }
  
  .itemLeft {
    width: 15%;
  }
  
  .itemCenter {
      width: 70%;
  }
  
  .itemRight {
    width: 15%;
  }
  
  .navbar {
    background: #ff7607;
    box-shadow: 0 3px 6px rgb(107, 4, 76), 0 3px 6px rgb(22, 209, 115);
  }
  
  li {
    color: rgb(231, 68, 177);
    padding: 15px 0;
  }
  
  body {
    font-size: 24px;
  }